<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="build/static/base.css">
    <title>Price</title>
</head>
<body class="body-font bg-[#ffffff]">
    <!-- price cards -->
    <div class="inline-grid grid-cols-2 border-white border-2 shadow-sm w-full mx-auto gap-8 pt-4 pl-4 pr-4 pb-4">
        <div class="border-2 border-gray-200 rounded-lg shadow-md shadow-green-100 p-4">
            <p class="text-lg">
                <b>Dollar - CBN</b>
                <i class="text-xs text-gray-400">&ensp;&middot;&ensp;last updated: 01.01.1970</i></p>
            <p>1 euro to 1 dollar&ensp;&middot;&ensp;<span>$$$</span></p>
            <p>exact price in Naira&ensp;&middot;&ensp;<span>$$$</span></p>
        </div>
        
        <div class="border-2 border-gray-200 rounded-lg shadow-md shadow-green-100 p-4">
            <p class="text-lg">
                <b>After market</b>
                <i class="text-xs text-gray-400">&ensp;&middot;&ensp;last updated: 01.01.1970</i></p>
            <p>1 euro to 1 dollar&ensp;&middot;&ensp;<span>$$$</span></p>
            <p>exact price in Naira&ensp;&middot;&ensp;<span>$$$</span></p>
        </div>
    </div>
</body>
</html>