<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style/base.css')}}">
    <title>Price</title>
</head>
<body class="body-font bg-[#ffffff]">
    <!-- price cards -->
    <div class="inline-grid grid-cols-2 border-white border-2 shadow-sm w-full mx-auto gap-8 pt-4 pl-4 pr-4 pb-4">
        <div class="border-2 border-gray-200 rounded-lg shadow-md shadow-green-100 p-4">
            <p class="text-lg">
                <b>Buy Euro</b>
                <i class="text-xs text-gray-400">&ensp;&middot;&ensp;last updated: {{price_info[2]}}</i></p>
            <p>Euro&ensp;&middot;&ensp;<span>1,00 &euro;</span></p>
            <p>Naira&ensp;&middot;&ensp;<span>&#8358; {{price_info[0]}}</span></p>
        </div>
        
        <div class="border-2 border-gray-200 rounded-lg shadow-md shadow-green-100 p-4">
            <p class="text-lg">
                <b>Sell Euro</b>
                <i class="text-xs text-gray-400">&ensp;&middot;&ensp;last updated: {{price_info[2]}}</i></p>
            <p>Euro&ensp;&middot;&ensp;<span>1,00 &euro;</span></p>
            <p>Naira&ensp;&middot;&ensp;<span>&#8358; {{price_info[1]}}</span></p>
        </div>
    </div>
</body>
</html>