{% extends 'base.html' %}
{% block title%}Receive{% endblock title %}

{% block content %}

    <div class="border-2 border-gray-200 rounded-sm shadow-sm mx-auto w-[320px] my-20 px-4 py-4 md:w-[480px] lg:w-[640px]">
        <p class="text-center text-xl pb-2">Receive</p>
            <form class="grid border-2 border-gray-200 px-4 rounded-md shadow-md py-4">
            <label for="">Sender name</label>
            <input class="border-2 border-gray-300 pl-1 pr-1 rounded-md mb-2" type="text">
            <label for="">Sender email address</label>
            <input class="border-2 border-gray-300 pl-1 pr-1 rounded-md mb-2" type="text">
            <label for="">Recipient's name</label>
            <input class="border-2 border-gray-300 pl-1 pr-1 rounded-md mb-2" type="text">
            <label for="">Amount</label>
            <input class="border-2 border-gray-300 pl-1 pr-1 rounded-md mb-2" type="text">
            <label for="">IBAN</label>
            <input class="border-2 border-gray-300 pl-1 pr-1 rounded-md mb-2" type="text">
            <label for="">Swift</label>
            <input class="border-2 border-gray-300 pl-1 pr-1 rounded-md mb-2" type="text">
            <label for="">Bank</label>
            <input class="border-2 border-gray-300 pl-1 pr-1 rounded-md mb-2" type="text">
            <div class="flex items-center mb-4">
                <input class="w-4 h-4 rounded text-blue-600 cursor-pointer" type="checkbox" name="" id="" required>
                <label class="text-xs pl-2 font-medium text-gray-500">By checking this box, you agree that all information provided are correct!</label>
            </div>
            <div class="text-center">
                <button class="text-white bg-blue-500 rounded-md w-16 h-8 focus:ring-blue-500">Send</button>
            </div>
            <p class="text-xs text-red-500 pt-2">Please ensure that the details provided are correct*</p>
            </form>
    </div>

{% endblock content %}

